* {
    box-sizing: border-box;
}

body { 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

section {
    min-height: 300px;
    padding: 6% 0;
    background-color: #bbb;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 40px;
    background-color: rgb(196, 0, 0);

}

header {
    padding: 8% 0;
}

.bioImage {
    display: flex;
    justify-content: space-around;
}

.bioImage {
    flex-direction: column; 
    text-align: center;

}

.bioContent {
    background-color: white;
    width: 30%;
    height: 350px;

}

.bioContent {
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    width: 300px;
}

footer {
    background-color: grey;
}

.image {
    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    footer {
        background-color: grey;
        width: 100%;
        bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: grey;
    }

    .bioImage {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .bioContent {
        background-color: white;
        width: 30%;
        height: 350px;
    
    }

    footer {
        background-color: rgb(196, 0, 0);
        width: 100%;
    }

    header {
        height: 40%;
    }
}


